#  Pandas
- it is a data analysis library
- also after advancement in it we can use it for plotting
- It has 3 data structure
- Series [ 1D ]
- DataFrame [ 2D ]
- Panel [Combination of multiple dataFrames]

In [1]:
#import pandas
import pandas

In [4]:
# check version of the pandas
pandas.__version__

'1.4.4'

In [5]:
import pandas as pd

In [6]:
pd

# Series

In [7]:
print(pd.Series())

Series([], dtype: float64)

C:\Users\YugandharJagtap\AppData\Local\Temp\ipykernel_27328\1822124305.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  print(pd.Series())

In [9]:
# What is dtype of empty numpy array?
import numpy as np
a=np.array([])
a

array([], dtype=float64)

In [10]:
#pd.Series()-To check the signature of Series
pd.Series(
    data=None,
    index=None,
    dtype: 'Dtype | None' = None,
    name=None,
    copy: 'bool' = False,
    fastpath: 'bool' = False,
)
Docstring:     
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, \*, \*\*) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series. If data is a dict, argument order is
    maintained.
index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If data is dict-like
    and index is None, then the keys in the data are used as the index. If the
    index is not None, the resulting Series is reindexed with the index values.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : str, optional
    The name to give to the Series.
copy : bool, default False
    Copy input data. Only affects Series or 1d ndarray input. See examples.

Examples
--------
Constructing Series from a dictionary with an Index specified

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['a', 'b', 'c'])
>>> ser
a   1
b   2
c   3
dtype: int64

The keys of the dictionary match with the Index values, hence the Index
values have no effect.

>>> d = {'a': 1, 'b': 2, 'c': 3}
>>> ser = pd.Series(data=d, index=['x', 'y', 'z'])
>>> ser
x   NaN
y   NaN
z   NaN
dtype: float64

Note that the Index is first build with the keys from the dictionary.
After this the Series is reindexed with the given Index values, hence we
get all NaN as a result.

Constructing Series from a list with `copy=False`.

>>> r = [1, 2]
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
[1, 2]
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `copy` of
the original data even though `copy=False`, so
the data is unchanged.

Constructing Series from a 1d ndarray with `copy=False`.

>>> r = np.array([1, 2])
>>> ser = pd.Series(r, copy=False)
>>> ser.iloc[0] = 999
>>> r
array([999,   2])
>>> ser
0    999
1      2
dtype: int64

Due to input data type the Series has a `view` on
the original data, so
the data is changed as well.
File:           c:\programdata\anaconda3\lib\site-packages\pandas\core\series.py
Type:           type
Subclasses:     SubclassedSeries

SyntaxError: positional argument follows keyword argument (2161550168.py, line 5)

# pd.Series(data,index,dtype)

In [11]:
pd.Series()

C:\Users\YugandharJagtap\AppData\Local\Temp\ipykernel_27328\2031691219.py:1: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

In [12]:
data=[1,2,3,4,5]
pd.Series(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [13]:
# Series gives 3 things
# index on left side
# values/data on right side
# at the end dtype
################IMP##################
# u will get dtype object in 2 cases
#1- when data is hetrogeneous
#2- when u have data of str type
data1=[11,12,13,14,15]
pd.Series(data1)

0    11
1    12
2    13
3    14
4    15
dtype: int64

In [14]:
pd.Series(['Raya','Reva','Yug','Viki'])

0    Raya
1    Reva
2     Yug
3    Viki
dtype: object

In [15]:
n=pd.Series(['Raya','Reva','Yug','Viki'])   #Background data structure is array (numpy array)
n

0    Raya
1    Reva
2     Yug
3    Viki
dtype: object

# indexing is supported

In [16]:
n[0]

'Raya'

In [17]:
n[1]

'Reva'

In [18]:
n[3]

'Viki'

In [19]:
n[-1]

KeyError: -1

# slicing is also supported

In [20]:
n[:]

0    Raya
1    Reva
2     Yug
3    Viki
dtype: object

In [21]:
n[2:]

2     Yug
3    Viki
dtype: object

In [22]:
n[::-1]

3    Viki
2     Yug
1    Reva
0    Raya
dtype: object

In [23]:
# can we use -ve index in slicing
n[-3:-1]

# in slicing -ve indexing works
# BUT in case of indexing -ve inex wont work

1    Reva
2     Yug
dtype: object

# Series is Mutable in nature

In [24]:
n

0    Raya
1    Reva
2     Yug
3    Viki
dtype: object

In [25]:
n[1]

'Reva'

In [26]:
id(n)

2408532860736

In [27]:
n[0]='Radhika'

In [28]:
n

0    Radhika
1       Reva
2        Yug
3       Viki
dtype: object

In [29]:
id(n)

2408532860736

# Check properties of series n

In [30]:
n

0    Radhika
1       Reva
2        Yug
3       Viki
dtype: object

In [32]:
n.ndim

1

In [33]:
n.shape

(4,)

In [34]:
n.size

4

In [35]:
n.dtype

dtype('O')

# pd.Series(data ,index,dtype)

In [36]:
pd.Series(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [37]:
#change the dtype
pd.Series(data,dtype='float')

0    1.0
1    2.0
2    3.0
3    4.0
4    5.0
dtype: float64

In [38]:
pd.Series(data,dtype='str')

0    1
1    2
2    3
3    4
4    5
dtype: object

In [39]:
pd.Series(data,dtype=object)

0    1
1    2
2    3
3    4
4    5
dtype: object

# Work on index

In [40]:
pd.Series(data)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [51]:
# default index starts with 0 and ends at (n-1)
# can we use alphbates or words an an index --> YES
new_index=['A','B','C','D','E']
x=pd.Series(data,index=new_index)
x

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [43]:
# we can also use range/np.arange/np.random
pd.Series(data,index=range(10,15))

10    1
11    2
12    3
13    4
14    5
dtype: int64

In [44]:
#posintionally we data,index,dtype
pd.Series(data,range(20,25))

20    1
21    2
22    3
23    4
24    5
dtype: int64

In [45]:
pd.Series(data,np.random.random(5))

0.934209    1
0.153542    2
0.322015    3
0.186414    4
0.013016    5
dtype: int64

In [46]:
n

0    Radhika
1       Reva
2        Yug
3       Viki
dtype: object

In [47]:
n.append(pd.Series(['Pooja','Sadia','Mahesh']),ignore_index=True)

C:\Users\YugandharJagtap\AppData\Local\Temp\ipykernel_27328\1057012660.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  n.append(pd.Series(['Pooja','Sadia','Mahesh']),ignore_index=True)

0    Radhika
1       Reva
2        Yug
3       Viki
4      Pooja
5      Sadia
6     Mahesh
dtype: object

In [52]:
x.append(pd.Series(['Pooja','Sadia','Mahesh']))

C:\Users\YugandharJagtap\AppData\Local\Temp\ipykernel_27328\4092550918.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x.append(pd.Series(['Pooja','Sadia','Mahesh']))

A         1
B         2
C         3
D         4
E         5
0     Pooja
1     Sadia
2    Mahesh
dtype: object

In [53]:
x.append(pd.Series(['Pooja','Sadia','Mahesh']),ignore_index=True)

C:\Users\YugandharJagtap\AppData\Local\Temp\ipykernel_27328\3172974987.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  x.append(pd.Series(['Pooja','Sadia','Mahesh']),ignore_index=True)

0         1
1         2
2         3
3         4
4         5
5     Pooja
6     Sadia
7    Mahesh
dtype: object

# If i want to access index from a Series

In [54]:
x

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [55]:
x.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [58]:
x.index = range(5)

In [59]:
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

# fetch values from series

In [60]:
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [63]:
x.values

array([1, 2, 3, 4, 5], dtype=int64)

# rather use slicing as direct assignment to values is not working

In [64]:
x[:]=[100,200,300,400,500]

In [65]:
x

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [66]:
x[:]

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [67]:
x[:]= range(5)

In [68]:
x

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [70]:
x[:]=range(10,15)

In [71]:
x

0    10
1    11
2    12
3    13
4    14
dtype: int64

#  u may have same index /duplicate index

In [77]:
m= pd.Series([10,20,30,40],[1,2,3,1])
m

1    10
2    20
3    30
1    40
dtype: int64

In [78]:
m[1]

1    10
1    40
dtype: int64

In [79]:
m

1    10
2    20
3    30
1    40
dtype: int64

In [80]:
# if we dont have index in a sequence
# to maintain sequence of an index use reset_index()
m.reset_index()
# the output u r getting below is dataframe

   index   0
0      1  10
1      2  20
2      3  30
3      1  40

In [81]:
type(m.reset_index())

pandas.core.frame.DataFrame

In [82]:
# rmove extra index column from above output
m.reset_index(drop=True) #returns Series

0    10
1    20
2    30
3    40
dtype: int64

In [83]:
# what is type of numpy array
type(np.array([]))

numpy.ndarray

In [84]:
x

0    10
1    11
2    12
3    13
4    14
dtype: int64

In [85]:
type(x)

pandas.core.series.Series